
 <link href="https://hangeul.pstatic.net/hangeul_static/css/NanumHaNaSonGeurSsi.css" rel="stylesheet">
<!DOCTYPE html>

<!-- beautify ignore:start -->
<html
  lang="en"
  class="light-style layout-menu-fixed"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path="/<%= appName %>/static/assets/"
  data-template="vertical-menu-template-free"
>
<style>
	body { text-align: center; font-family: 'NanumNaEuiANaeSonGeurSsi'; font-size: 24pt; }
	h1 { font-size: 45pt; }
	p { font-size: 15pt; }
</style>

<link href="https://hangeul.pstatic.net/hangeul_static/css/NanumNaEuiANaeSonGeurSsi.css" rel="stylesheet">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />

    <title>Dream Team</title>
    <meta name="description" content="" />
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="/<%= appName %>/static/assets/img/favicon/favicon.ico" />
  			<br>	
   			<img src="/azt-website/dream-team/dream.jpg">
			<h1>Hello, We are Dream Team !</h1>
			<h6>이종경 이준환 주세림 추수은<br>
			Lee-Jonkyoung Lee-junhwan Ju-serim Choo-soeun</h6>
			<h4>
			안녕하세요, 저희는 2조 드림팀입니다.<br>
			2차 프로젝트의 주제는 반려견과 함께 소통 할 수 있는 커뮤니티 사이트 입니다.<br>
			재밌게 봐주세요. 감사합니다.			
			</h4>
			<br>
			<p>프로젝트 아지트는 우리들의 보금자리 아지트와 강"아지"의 "아지"가 내포 된 이름입니다. </p>
			
      <div class="layout-overlay layout-menu-toggle"></div> 
	<jsp:include page="/WEB-INF/views/modules/common-js.jsp" />

  </body>
</html>










